.Footer{
    padding: 8rem 0 6rem 0;
}
.Footer .iconDiv img:nth-last-child(1){
    margin-left: 20px;
}
.Footer .iconDiv img:nth-last-child(2){
    margin-left: 20px;
}
.Footer p{
    margin-top: 5px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24.38px;
    font-family: "Montserrat", sans-serif;
    color: rgba(0, 0, 0, 1);
}
.Footer h3{
    font-weight: 600;
    font-size: 18px;
    line-height: 24.38px;
    font-family: "Montserrat", sans-serif;
    color: rgba(0, 0, 0, 1);
}
.Footer h5{
    font-weight: 400;
    font-size: 16px;
    line-height: 21.94px;
    font-family: "Montserrat", sans-serif;
    color: rgba(0, 0, 0, 1);
}
.Footer .right{
    text-align: end;
}
.Footer .hr{
    height: 1px;
    width: 100%;
    background-color: rgba(209, 212, 225, 1);
    margin-top: 50px;
}
.Footer .downRow{
    padding: 30px 0;
}
.Footer .downRow span:nth-last-child(1){
    margin-left: 5px;
}