.Login {
  position: relative;
  height: 90vh;
}

.loginBorder {
  border: 2px solid #ece5e5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  border-radius: 10px;
  max-width: 900px;
  height: 600px;
  position: absolute;
  left: 0;
  top: 80px;
  right: 0;
  bottom: 0;
  margin: auto;
  /* display: flex;
   align-items: center;
   justify-content: center; */
}
.loginBorder img {
  margin-top: 20px;
}
.loginBorder h2 {
  margin-top: 30px;
  font-weight: 500;
  font-size: 30px;
  color: rgba(0, 0, 0, 1);
  line-height: 30px;
}
.loginBorder h5 {
  margin-top: 15px;
  line-height: 24.38px;
  font-size: 20px;
  font-weight: 500;
  color: rgba(167, 174, 192, 1);
}

.loginBorder .right {
  position: relative;
  margin-top: 0px;
  display: flex;
  justify-content: center;
}
.loginBorder .inputBox {
  position: relative;
  width: 397px;
  margin: 30px 0;
  border-bottom: 2px solid rgba(195, 198, 206, 1);
}

.inputBox label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: rgba(0, 0, 0, 1);
  pointer-events: none;
  font-family: "Montaga", serif;

  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: 0.5s;
}
.inputBox input:focus + label,
.inputBox input:valid + label,
.inputBox input:not(:placeholder-shown) + label {
  top: -5px;
}

.inputBox input {
  width: 100%;
  height: 50px;
  background: transparent;
  font-size: 1em;
  border: none;
  outline: none;
  color: rgba(0, 0, 0, 1);
  padding: 0px 35px 0 5px;
}
.inputBox .input3 {
  height: 50px !important;
}
.inputBox .messageLabel {
  height: 30px !important;
}

.loginBorder button {
  background-color: rgba(58, 143, 175, 1);
  color: #fff;
  margin-top: 20px;
  border-radius: 30px;
  width: 100%;
  padding: 15px 5px;
  border: none;
  text-align: center;
  font-family: var(--montserrat);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: relative;
  z-index: 0;
}
.error{
  color: rgb(227, 34, 34);
  height: 100px !important;
  font-weight: 700;
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
}
.buttonHover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #FFA500,
    #FFA500,
    #FFA500,
    #FFD700,
    #FFA500,
    #FF8C00,
    #FFFF00,
    #FFA500,
    #FFD700
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.buttonHover:active:after {
  background: transparent;
}

.buttonHover:hover:before {
  opacity: 1;
}

.buttonHover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;

  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}


