.Info {
  padding: 3rem 0;
}
.Info .left {
  margin-top: 20px;
}
.Info .rowAll {
  margin-top: 70px;
}
.Info h1 {
  font-weight: 700;
  font-size: 50px;
  font-family: "Montserrat", sans-serif;
  color: rgba(31, 31, 31, 1);
  line-height: 73.14px;
}
.Info h5 {
  font-weight: 400;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  color: rgba(0, 0, 0, 1);
  line-height: 24.38px;
}
.Info button {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  background-color: rgba(58, 143, 175, 1);
  padding: 15px 10px;
  width: 40%;
  color: #fff;
  border-radius: 50px;
  border: 1px solid transparent;
  font-family: "Poppins", sans-serif;
  margin-top: 20px;
  position: relative;
  z-index: 0;
}
.error {
  color: rgb(227, 34, 34);
  height: 100px !important;
  font-weight: 700;
  margin-top: 10px;
  margin-left: 5px;
  font-family: "Poppins", sans-serif;
}

.audio {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.right {
  position: relative;
}



.buttonHover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #32CD32,
    #00FF00,
    #228B22,
    #008000,
    #ADFF2F,
    #228B22,
    #FFFF00,
    #00FF00,
    #9ACD32
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.buttonHover:active:after {
  background: transparent;
}

.buttonHover:hover:before {
  opacity: 1;
}

.buttonHover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;

  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
