@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body{
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 12px;
}
body::-webkit-scrollbar-thumb {
  background-color: rgba(58, 143, 175, 1);
  border-radius: 6px;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 0s 600000s, color 0s 600000s !important;
}
a {
  text-decoration: none !important;
}

/* Select option for testpage */

.MuiBox-root {
  margin-top: 35px;
}
.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
  border-radius: 10px !important;
}
.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border-color: rgba(222, 225, 241, 1) !important;
}
.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  padding-left: 5px !important;
}


/* Text Editor */

.toolbarClassName{
  margin: 0 !important;
}



audio::-webkit-media-controls-timeline {
  pointer-events: none !important;
}

/* Görsel olarak seek pointer'ını gösterme */
audio::-webkit-media-controls-current-time-display {
  visibility: visible !important;
}


