.InfoVideo {
  padding: 3rem 0;
}
.InfoVideo h2 {
    width: 80%;
  font-weight: 700;
  font-size: 30px;
  line-height: 36.57px;
  font-family: "Montserrat", sans-serif;
}
.InfoVideo .rightDown h2{
    width: 60% !important;
}
.InfoVideo span {
  color: rgba(250, 200, 71, 1);
}
.InfoVideo p {
  font-weight: 400;
  font-size: 18px;
  line-height: 24.38px;
  font-family: "Montserrat", sans-serif;
  color: rgba(0, 0, 0, 1);
}

.InfoVideo button {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  background-color: rgba(58, 143, 175, 1);
  padding: 15px 10px;
  width: 40%;
  color: #fff;
  border-radius: 50px;
  border: 1px solid transparent;
  font-family: "Poppins", sans-serif;
  margin-top: 20px;
  cursor: pointer;
  position: relative;
  z-index: 0;
}


.buttonHover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #32CD32,
    #00FF00,
    #228B22,
    #008000,
    #ADFF2F,
    #228B22,
    #FFFF00,
    #00FF00,
    #9ACD32
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.buttonHover:active:after {
  background: transparent;
}

.buttonHover:hover:before {
  opacity: 1;
}

.buttonHover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;

  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
   .InfoVideo img{
        width: 550px;
    }
}