.MainHeader {
  position: fixed;
  padding: 1rem 0;
  z-index: 999;
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
}
.MainHeader .left span {
  margin-left: 20px;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  font-size: 18px;
  line-height: 27px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}
.MainHeader .rowAll {
  justify-content: flex-end !important;
}
.MainHeader .right button {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  background-color: rgba(58, 143, 175, 1);
  padding: 15px 10px;
  width: 27%;
  color: #fff;
  border-radius: 50px;
  border: 1px solid transparent;
  margin-left: 20px;
  font-family: "Poppins", sans-serif;
  position: relative;
  z-index: 0;

}
.MainHeader .right span{
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    font-size: 18px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;

    line-height: 27px;
}
.MainHeader .right{
    text-align: end;
}



.buttonHover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #FFA500,
    #FFA500,
    #FFA500,
    #FFD700,
    #FFA500,
    #FF8C00,
    #FFFF00,
    #FFA500,
    #FFD700
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.buttonHover:active:after {
  background: transparent;
}

.buttonHover:hover:before {
  opacity: 1;
}

.buttonHover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;

  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.flag{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flag h5{
  margin-top: 8px;
  font-weight: 500;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: rgba(42, 42, 42, 1);
  line-height: 19.5px;
}
